{% extends "base.html" %}

{% block title %} - Cancel Subscription{% endblock %}

{% block main %}
<h1>Cancel Subscription</h1>

<p>
	You must cancel your subscription through Paypal.  
	Your subscription will expire at the end of the current billing period.  
	Once you unsubscribe, you will receive an email with the expiry date of your account.
	At that time, your account will be changed over to the Free package and only your most recent digest with five feeds will be kept available.
</p>

<p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=43LYXSLGPEC56"><img src="https://www.paypal.com/en_US/i/btn/btn_unsubscribe_LG.gif" border="0" alt="Unsubscribe" /></a></p>

<p>If you have any problems, contact us at <a href="mailto:service@1widget.com">service@1widget.com</a></p>

{% endblock %}
