{% extends "base.html" %}

{% block title %} - Package Upgraded{% endblock %}

{% block main %}
<h1>Package Upgraded</h1>

<p>
	Thank you for your payment.  
	Your transaction has been completed and a receipt for your purchase has been emailed to you.
	You may log into your account at <a href="http://www.paypal.com">www.paypal.com</a> 
	to view more details of this transaction.
</p>

<p>If you have any problems, contact us at <a href="mailto:service@1widget.com">service@1widget.com</a></p>

{% endblock %}
